
body{
        background-color: #92ad94;
        font-family: 'Source Sans Pro', sans-serif;
}

/* The navigation bar */
  #navbar {
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        }

/* Links inside the navbar */
  #navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        font-family: 'Lato', sans-serif;
        padding: 20px 35px;
        font-size: 15px;
        color:#303030;
        text-decoration: none;
        }
