body{
  background: url(resources/treeblur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;
}

#name{
  font-family: 'Khula', sans-serif;
  color: white;
  margin: 0 auto;
  font-size: 100px;
  width: 100%;
  margin-top: 20%;
  margin-left: 27%;
}

/* The navigation bar */
  #navbar {
        overflow: hidden;
        background-color: #748b75;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        }

/* Links inside the navbar */
  #navbar a {
        float: left;
        display: block;
        color: #f5fbef;
        text-align: center;
        font-family: "Arial";
        font-weight: bold;
        padding: 14px 16px;
        text-decoration: none;
        }
