body{
  background: url(resources/treeblur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;
}

#name{
  font-family: 'Khula', sans-serif;
  color: white;
  margin: 0 auto;
  font-size: 50px;
  width: 100%;
}
